@import "sourse/ghgh/slider.less";
<<<<<<< HEAD
.center {
  width: 1920px;
}
.center__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: skewY(-3.6deg);
  background: #191919;
  overflow: hidden;
}
.center__block1 {
  position: relative;
  height: 666px;
  z-index: 1000;
}
.center__block1 img {
  width: 1920px;
  height: 900px;
  transform: skewY(3.6deg);
  margin-top: -70px;
}
@import "sourse/welcome/welcome1.less";
.center__block2 {
  position: relative;
  height: 600px;
  transform: skewY(3.6deg);
  margin-top: 10px;
  z-index: 999;
}
.wrapper2 {
  width: 1170px;
  height: 600px;
  margin: 130px auto;
  transform: skewY(-3.6deg);
  font-size: 8px;
  color: #888888;
}
.section-img2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.welcome {
  width: 560px;
  height: 250px;
}
.wereopen {
  width: 560px;
  height: 250px;
}
.welcome__h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
.wereopen__h1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.wereopen__h1>div>img {
  margin-right: 15px;
  width: 180px;
  height: 150px;
}
.h1--inf,
.h1--inf div {
  text-align: justify;
  line-height: 22px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 300;
}
@import "sourse/gallery/gallery1.less";
.center__block5 {
  width: 100%;
  height: 1300px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  z-index: 1001;
}
.img5-block1 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 1170px;
  height: 970px;
  margin-top: 190px;
}
.img5-block1__gallery {
  font-size: 48px;
  font-weight: 300;
  color: #191919;
  text-align: left;
}
.img5-block1__p {
  font-size: 15px;
  color: #888888;
}
.img5-block1__img {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  height: 720px;
}
.img5-block1__img--img {
  display: inline-block;
  width: 270px;
  height: 335px;
}
.img5_img1 {
  background: url("gallery_img1.png");
}
.img5_img2 {
  background: url("gallery_img2.png");
}
.img5-block1__img--img>i {
  font-size: 50px;
  margin: 120px;
  display: none;
}
.img5-block1__img--img:hover>i {
  visibility: visible;
  font-size: 50px;
  display: block;
  margin: 120px;
}
.img5-block1__img--img:hover {
  display: block;
  opacity: 0.5;
}
=======
@import "sourse/all/all.less";
@import "../node_modules/slick-carousel/slick/slick.less";
// .center {
//   width: 1920px;
// }
// .center__block {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   transform: skewY(-3.6deg);
//   background: #191919;
//   overflow: hidden;
// }
// .center__block1 {
//   position: relative;
//   height: 666px;
//   z-index: 1000;
// }
// .center__block1 img {
//   width: 1920px;
//   height: 900px;
//   transform: skewY(3.6deg);
//   margin-top: -70px;
// }
>>>>>>> f265c7b9ca43f1247c8c2e45efe47f68e6da7ae7
@import "sourse/blog/blog.less";
