* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
.block {
  height: 5700px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #191919;
  transform: skewY(-3.6deg);
  height: 410px;
  margin-top: -90px;
  padding-top: 70px;

}
.main-header__wrapper {
  width: 1170px;
  height: 600px;
  margin: 0 auto;
  transform: skewY(3.6deg);
}
.main-header__wrapper--main-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.telephone {
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  font-style:
}
.socials img {
  width: 37px;
  height: 37px;
}
.logo img {
  width: 380px;
  height: auto;
  margin: 40px 40px;

}
.menu-section {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 900px;
}
.menu>a{
  font-size: 19px;
}
.menu-item {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-item:hover {
  color: #c7c6c6;
}
.center {
  width: 1920px;
}
.center__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: skewY(-3.6deg);
  background: #191919;
  overflow: hidden;
}
.center__block1 {
  position: relative;
  height: 666px;
  z-index: 1000;
}
.center__block1 img {
  width: 1920px;
  height: 900px;
  transform: skewY(3.6deg);
  margin-top: -70px;
}
/* welcome-were open*/
.center__block2 {
  position: relative;
  height: 600px;
  transform: skewY(3.6deg);
  margin-top: 10px;
  z-index: 999;
}

.wrapper2 {
  width: 1170px;
  height: 600px;
  margin: 130px auto;
  transform: skewY(-3.6deg);
  font-size: 8px;
  color: #888888;
}
.section-img2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.welcome {
  width: 560px;
  height: 250px;
}
.wereopen {
  width: 560px;
  height: 250px;
}
.welcome__h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
.wereopen__h1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.wereopen__h1>div>img {
  margin-right: 15px;
  width: 180px;
  height: 150px;
}
.h1--inf,
.h1--inf div {
  text-align: justify;
  line-height: 22px;
  margin-bottom: 5px;
  font-size: 15px;
}
/* welcome-were open*/
/*artists*/
.center__block3 {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  position: relative;
  height: 670px;
  width: 1920px;
  margin-bottom: -50px;
  margin-top: -10px;
  z-index: 998;
  overflow: hidden;
}
.center__block3--img3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 1170px;
  height: 670px;
  margin: 0 auto;
}
.img3-block1 {
  display: flex;
  align-content: center;
  width: 1170px;
  height: 480px;
}
.img3-block2 {
  width: 1170px;
  height: 180px;
}
.img3-block1__artists {
  width: 600px;
  height: 500px;
  margin-top: 50px
}
.img3-block1__artists--h1 {
  font-size: 48px;
  color: #000;
  font-weight: 300;
  margin-bottom: 10px;
}
.img3-block1__artists--p {
  text-align: justify;
  margin-bottom: 0;
  font-size: 14px;
  width: 500px;
  height: 140px;
  line-height: 20px
}
.img3-block1__artists--social {
  width: 200px;
  display: flex;
  align-content: space-between;
}
.img3-block1__artists--social div {
  margin-right: 30px;
}
.img3-block1__artists--social a {
  font-size: 24px;
  color: #888888;
}
.social-artists__1>img {
  width: 20px;
  height: 20px;
  margin-left: 0;
  background-repeat: no-repeat;
}
.img3-block1__photo>img {
  width: 600px;
  height: auto;
}
/*artists*/
/*Testmonials*/
.center__block4 {
  position: relative;
  height: 600px;
  z-index: 1000;
}
.img4-block1 {
  transform: skewY(3.6deg);
  width: 970px;
  height: 600px;
  margin-top: 130px;
}
.img4-block1__Testimonials {
  font-size: 48px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.img4-block1__p {
  font-family: great vibes;
  font-size: 48px;
  color: #888888;
  text-align: center;
}
.img4-block1__Lorraine {
  font-size: 15px;
  text-align: center;
  color: #888888
}
.img4-block1__Book-an-Appointment {
  margin-left: 1250px;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: 100;
  width: 290px;
  height: 55px;
  background: #888888;
  color: #fff;
  border: 1px solid #fff;
  z-index: 1103;


}
/*Testmonials*/
.center__block5 {
  position: relative;
  height: 690px;
  z-index: 999;
}
.center__block6 {
  position: relative;
  height: 350px;
  transform: skewY(3.6deg);
  z-index: 1000;
}
.center__block7 {
  position: relative;
  height: 300px;
  z-index: 999;
}
.main-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #191919;
  transform: skewY(-3.6deg);
  height: 310px;
  margin-top: 68px;
}
.wrapper3 {
  width: 666px;
  height: 120px;
  margin: 68px auto;
  transform: skewY(3.6deg);
  color: #888888;
  font-size: 9px;
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo1 {
  width: 100px;
  height: 65px;
}
.logo1 img {
  width: 100px;
  height: 65px;
}
.footer {
  display: flex;
  flex-direction: column;
}
.autor {
  display: flex;
  flex-wrap: nowrap;
}
.designed, .development, .powered {
  margin-right: 5px;
  margin-top: 15px;
}
.autor a {
  text-decoration: none;
  color: #888888;
}
.autor a:hover {
  text-decoration: none;
  color: #fff;
}
