* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
.block {
  height: 5700px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #191919;
  transform: skewY(-3.6deg);
  height: 410px;
  margin-top: -90px;
  padding-top: 70px;

}
.main-header__wrapper {
  width: 1170px;
  height: 600px;
  margin: 0 auto;
  transform: skewY(3.6deg);
}
.main-header__wrapper--main-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.telephone {
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  font-style:
}
.socials img {
  width: 60px;
  height: 60px;
}
.logo img {
  width: 380px;
  height: auto;
  margin: 40px 40px;

}
.menu-section {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 900px;
}
.menu>a{
  font-size: 19px;
}
.menu-item {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-item:hover {
  color: #c7c6c6;
}
.center {
  width: 1920px;
}
.center__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: skewY(-3.6deg);
  background: #191919;
  overflow: hidden;
}
.center__block1 {
  position: relative;
  height: 666px;
  z-index: 1000;
}
.center__block1 img {
  width: 1920px;
  height: 900px;
  transform: skewY(3.6deg);
  margin-top: -70px;
}
/* welcome-were open*/
.center__block2 {
  position: relative;
  height: 600px;
  transform: skewY(3.6deg);
  margin-top: 10px;
  z-index: 999;
}

.wrapper2 {
  width: 1170px;
  height: 600px;
  margin: 130px auto;
  transform: skewY(-3.6deg);
  font-size: 8px;
  color: #888888;
}
.section-img2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.welcome {
  width: 560px;
  height: 250px;
}
.wereopen {
  width: 560px;
  height: 250px;
}
.welcome__h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
.wereopen__h1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.wereopen__h1>div>img {
  margin-right: 15px;
  width: 180px;
  height: 150px;
}
.h1--inf,
.h1--inf div {
  text-align: justify;
  line-height: 22px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 300;
}
/* welcome-were open*/
/*artists*/
.center__block3 {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  position: relative;
  height: 670px;
  width: 1920px;
  margin-bottom: -50px;
  margin-top: -10px;
  z-index: 998;
  overflow: hidden;
}
.center__block3--img3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 1170px;
  height: 670px;
  margin: -20px auto 0 auto;
}
.img3-block1 {
  display: flex;
  align-content: center;
  width: 1170px;
  height: 440px;
}
.img3-block2 {
  width: 1170px;
  height: 180px;
}
.img3-block1__artists {
  width: 600px;
  height: 440px;
  margin-top: 50px
}
.img3-block1__artists--h1 {
  font-size: 48px;
  color: #191919;
  font-weight: 300;
  margin-bottom: 10px;
}
.img3-block1__artists--p {
  text-align: justify;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  width: 500px;
  height: 140px;
  line-height: 20px;
  color: #888888;
}
.img3-block1__artists--social {
  width: 200px;
  display: flex;
  align-content: space-between;
}
.img3-block1__artists--social div {
  margin-right: 30px;
}
.img3-block1__artists--social a {
  font-size: 24px;
  color: #888888;
}
.social-artists__1>img {
  width: 20px;
  height: 20px;
  margin-left: 0;
  background-repeat: no-repeat;
}
.img3-block1__photo>img {
  width: 600px;
  height: auto;
}
.img3-block2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.img3-block2 div {
  display: inline-block;
  width: 234px;
  height: 230px;
}
.img3-block2__img1 {
  background: url("artists1.png");
}
.img3-block2__img2 {
  background: url("artists2.png");
}
.img3-block2__img3 {
  background: url("artists.png");
}
.img3-block2__img4 {
  background: url("artists3.png");
}
.img3-block2__img5 {
  background: url("artists4.png");
}
.img3-block2__img1-hover {
  display: none;
}
.img3-block2__img1:hover .img3-block2__img1-hover,
.img3-block2__img2:hover .img3-block2__img1-hover,
.img3-block2__img3:hover .img3-block2__img1-hover,
.img3-block2__img4:hover .img3-block2__img1-hover,
.img3-block2__img5:hover .img3-block2__img1-hover {
  font-size: 26px;
  font-family: great vibes;
  color: #dfdfdf;
  width: 100%;
  height: 100%;
  margin: 50px 40px;
  opacity: 0.5;
}
/*artists*/
/*Testmonials*/
.center__block4 {
  position: relative;
  height: 600px;
  z-index: 1000;
}
.img4-block1 {
  transform: skewY(3.6deg);
  width: 970px;
  height: 600px;
  margin-top: 130px;
}
.img4-block1__Testimonials {
  font-size: 48px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.img4-block1__p {
  font-family: great vibes;
  font-size: 48px;
  color: #888888;
  text-align: center;
}
.img4-block1__Lorraine {
  font-size: 15px;
  text-align: center;
  color: #888888
}
/*Testmonials*/
.img5-block1__Book-an-Appointment {
  margin-left: 1250px;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: 100;
  width: 290px;
  height: 55px;
  background: #888888;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  z-index: 2000;
}
/*Gallery*/
.center__block5 {
  width: 100%;
  height: 1300px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  z-index: 1001;
}
.img5-block1 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 1170px;
  height: 970px;
  margin-top: 190px;
}
.img5-block1__gallery {
  font-size: 48px;
  font-weight: 300;
  color: #191919;
  text-align: left;
}
.img5-block1__p {
  font-size: 15px;
  color: #888888;
}
.img5-block1__img {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  height: 720px;
}
.img5-block1__img--img {
  display: inline-block;
  width: 270px;
  height: 335px;
}
.img5_img1 {
  background: url("gallery_img1.png");
}
.img5_img2 {
  background: url("gallery_img2.png");
}
.img5-block1__img--img>i {
  font-size: 50px;
  margin: 120px;
  display: none;
}
.img5-block1__img--img:hover>i {
  visibility: visible;
  font-size: 50px;
  display: block;
  margin: 120px;
}
.img5-block1__img--img:hover {
  display: block;
  opacity: 0.5;
}
/*Gallery*/
/*BLOG*/
.center__block6 {
  position: relative;
  height: 650px;
  transform: skewY(3.6deg);
  z-index: 1000;
}
.img6-block1 {
  transform: skewY(-3.6deg);
  width: 1170px;
  height: 370px;
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.img6-block1__blog {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.img6-block1__img {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}
.img6-block1__img--img {
  display: inline-block;
  width: 370px;
  height: 250px;
}
.img6_img1 {
  background: url("blog_img1.png");
}
.img6_img2 {
  background: url("blog_img2.png");
}
.img6_img3 {
  background: url("blog_img3.png");
}
.img6_img1__h1 {
  height: 35px;
  color: #dfdfdf;
  background: #4e4e4e;
  opacity: 0.8;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  margin-top: 200px;
}
/*BLOG*/
/*CONTACT US*/
.center__block7 {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999;
}
.center__block7--img7 {
  display: flex;
  justify-content: space-between;
  height: 500px;
  width: 1170px;
}
.img7-block1 {
  margin-top: 90px;
  font-weight: 300;
}
.img7-block1__contact {
  font-size: 48px;
  color: #191919;
  text-align: left;
  margin-bottom: 20px;
}
.img7-block1__p1 {
  font-size: 15px;
  color: #888888;
  height: 70px;
  width: 500px;
  margin-bottom: 10px;
}
.img7-block1__p2, .img7-block1__p3 {
  font-size: 15px;
  color: #888888;
  height: 30px;
  width: 500px;
  margin-bottom: 15px;
}
.img7-block1__p2>a {
  text-decoration: none;
  color: #888888;
}
.img7-block1__p2>a:hover {
  color: #515151;
}
.img7-block1__p4 {
  font-size: 24px;
  color: #888888;
  margin-bottom: 15px;
}
.img7-block1__p5 {
  font-size: 24px;
  color: #191919;
}
.img7-block2 img {
  height: 500px;
  width: 570px;
}
/*CONTACT US*/
.center__block8 {
  transform: skewY(-3.6deg);
  height: 50px;
  margin-top: 0px;
  background: #fff;
  position: relative;
  z-index: 2000;
}
/*FOOTER*/
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #191919;
  transform: skewY(-3.6deg);
  height: 310px;
  margin-top: 68px;
}
.wrapper3 {
  width: 1170px;
  height: 120px;
  margin-top: 70px;
  transform: skewY(3.6deg);
  color: #888888;
  font-size: 15px;
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo1 img {
  width: auto;
  height: 110px;
}
.footer {
  display: flex;
  flex-direction: column;
}
.autor {
  display: flex;
  flex-wrap: nowrap;
}
.designed, .development, .powered {
  margin-right: 20px;
  margin-top: 15px;
}
.autor a {
  text-decoration: none;
  color: #888888;
}
.autor a:hover {
  text-decoration: none;
  color: #fff;
}
