* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
.block {
  height: 3266px;
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #191919;
  transform: skewY(-3.6deg);
  height: 250px;
  margin-top: -90px;
  padding-top: 70px;

}
.main-header__wrapper {
  width: 666px;
  height: 400px;
  margin: 0 auto;
  transform: skewY(3.6deg);
}
.main-header__wrapper--main-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.telephone {
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  font-style:
}
.socials img {
  width: 37px;
  height: 37px;
}
.logo img {
  width: 160px;
  height: 100px;
  margin: 40px 40px;
}
.menu-section {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 550px;
}
.menu-item {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-item:hover {
  color: #c7c6c6;
}
.center {
  width: 1170px;
}
.center__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: skewY(-3.6deg);
  background: #191919;
  overflow: hidden;
}
.center__block1 {
  position: relative;
  height: 370px;
  z-index: 1000;
}
.center__block1 img {
  width: 1920px;
  height: 500px;
  transform: skewY(3.6deg);
  margin-top: -68px;
}
/* welcome-were open*/
.center__block2 {
  position: relative;
  height: 350px;
  transform: skewY(3.6deg);
  margin-top: -34px;
  z-index: 999;
}

.wrapper2 {
  width: 666px;
  height: 400px;
  margin: 130px auto;
  transform: skewY(-3.6deg);
  font-size: 8px;
  color: #888888;
}
.section-img2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.welcome {
  width: 326px;
  height: 160px;
}
.wereopen {
  width: 326px;
  height: 160px;
}
.welcome__h1 {
  font-size: 21px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}
.wereopen__h1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.wereopen__h1>div>img {
  margin-right: 10px;
}
.h1--inf,
.h1--inf div {
  text-align: justify;
  line-height: 12px;
  margin-bottom: 5px;
}
/* welcome-were open*/
/*artists*/
.center__block3 {
  position: relative;
  height: 400px;
  margin-bottom: -50px;
  z-index: 998;
  overflow: hidden;
}
.center__block3--img3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  background: red;
  width: 1100px;
  height: 350px;

}
.img3-block1 {
  background: yellow;
  width: 1100px;
  height: 275px;
}
.img3-block2 {
  background: blue;
  width: 1100px;
  height: 60px;
}
/*artists*/
.center__block4 {
  position: relative;
  height: 350px;
  z-index: 1000;
}
.center__block5 {
  position: relative;
  height: 690px;
  z-index: 999;
}
.center__block6 {
  position: relative;
  height: 350px;
  transform: skewY(3.6deg);
  z-index: 1000;
}
.center__block7 {
  position: relative;
  height: 300px;
  z-index: 999;
}
.main-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #191919;
  transform: skewY(-3.6deg);
  height: 310px;
  margin-top: 68px;
}
.wrapper3 {
  width: 666px;
  height: 120px;
  margin: 68px auto;
  transform: skewY(3.6deg);
  color: #888888;
  font-size: 9px;
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo1 {
  width: 100px;
  height: 65px;
}
.logo1 img {
  width: 100px;
  height: 65px;
}
.footer {
  display: flex;
  flex-direction: column;
}
.autor {
  display: flex;
  flex-wrap: nowrap;
}
.designed, .development, .powered {
  margin-right: 5px;
  margin-top: 15px;
}
.autor a {
  text-decoration: none;
  color: #888888;
}
.autor a:hover {
  text-decoration: none;
  color: #fff;
}
