.center__block6 {
  position: relative;
  height: 650px;
  transform: skewY(3.6deg);
  z-index: 1000;
}
.img6-block1 {
  transform: skewY(-3.6deg);
  width: 1170px;
  height: 370px;
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.img6-block1__blog {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.img6-block1__img {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}
.img6-block1__img--img {
  display: inline-block;
  width: 370px;
  height: 250px;
  overflow: hidden;
}
.img6_img1__h1 {
  width: 370px;
  height: 250px;
  color: #dfdfdf;
  background: #4e4e4e;
  opacity: 0.6;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 200px;
}
.img6_img1__h1 h1 {
    font-size: 16px;
    margin-bottom: 10px;
}
.img6_img1__h1 a {
  display: block;
  height: 20px;
  width: 110px;
  background: #010101;
  opacity: 0.9;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 10px;
}
.img6-block1__img--img:hover .img6_img1__h1 {
  transform: translateY(-100%);
  margin-top: 270px;
  transition-duration: 1s;

}
