.center__block6 {
  position: relative;
  height: 650px;
  transform: skewY(3.6deg);
  z-index: 1000;
}
.img6-block1 {
  transform: skewY(-3.6deg);
  width: 1170px;
  height: 370px;
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.img6-block1__blog {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.img6-block1__img {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}
.img6-block1__img--img {
  display: inline-block;
  width: 370px;
  height: 250px;
  overflow: hidden;
}
.img6_img1 {
  background: url("blog_img1.png");
}
.img6_img2 {
  background: url("blog_img2.png");
}
.img6_img3 {
  background: url("blog_img3.png");
}
.img6_img1__h1 {
  width: 370px;
  height: 250px;
  color: #dfdfdf;
  background: #4e4e4e;
  opacity: 0.5;
  font-size: 16px;
  text-align: left;
  padding-top: 15px;
}
